* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'satoshimedium';
	src: url('./font/satoshi-medium-webfont.woff2') format('woff2'), url('./font/satoshi-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: "Satoshi"
}
.qr-head {
	padding-left: 20px;
	padding-right: 40px;
	height: 90px;
	background-color: #fff;
	box-shadow: 0px 0px 55px #00000029;
}

.qr-main {
	background-color: rgba(246, 246, 246, 1);
	padding-left: 80px;
}

.qr-head ul li a {
	background-color: #FEC200 !important;
	/* margin-right: 30px; */
}

.qr-main-1 {
	width: 700px ;
	height: 580px ;
	border: 1px solid #000;
	border-radius: 12px;
	background-color: transparent !important;
}

.qr-main-11 {
	width: 660px;
	height: 200px;
	border: 3px solid #FEC200;
	margin: 20px 20px 0px 23px;
	border-left: 8PX solid #FEC200;
	background-color: #fff;
	border-bottom: 8PX solid #FEC200;
	padding: 10px;
	
}

#qr-main-10 {
	margin: 20px 0px 0px 20px;
	width: 100%;
}


.qr-main-11 .qr-main-12 .qr-link {
	border-bottom: 1px solid #000;
	font-size: 18px;
	color: #707070;
	font-family: 'satoshimedium';
	font-weight: 600;
	cursor: not-allowed;
	opacity: 0.2;
}

.qr-active-1 {
	color: #000 !important;
	border-bottom: 1px solid #000;
	font-family: 'satoshimedium';
	font-weight: 600;
	font-size: 18px;
	cursor: pointer !important;
	opacity: 1 !important;
}
.active1{
	opacity: 1 !important;
}

.qr-active-1 a {
	text-decoration: none;
	color: #000;
	
}

.qr-active-2 {
	border-bottom: 1px solid #FEC200;
	color: #000 !important;
	font-size: 18px;
	font-family: 'satoshimedium';
	font-weight: 600;
	cursor: pointer !important;
	opacity: 1 !important;
}

.qr-input{
	margin: 20px 0px 0px 30px;
	position: absolute;
	margin-top: -320px;
}

.qr-input .content {
	border: 1px solid black !important;
	width: 640px;
	height: 60px;
	border-radius: 15px;
	font-size: 14px;
	padding: 0px 0px 0px 20px;
}

.qr-input .qr-url {
	border: 1px solid black !important;
	width: 640px;
	height: 60px;
	border-radius: 15px;
	font-size: 14px;
	padding: 0px 0px 0px 20px;
}

.qr-main-2 {
	width: 350px !important;
	height: 440px !important;
	border: 3px solid #FEC200;
	margin-bottom: 20px;
	border-left: 8PX solid #FEC200;
	background-color: #fff !important;
	border-bottom: 8PX solid #FEC200;
}
.ml{
	margin-left: 70px;
}

.qr-main-21 {
	width: 270px !important;
	height: 270px !important;
	background-color: rgba(246, 246, 246, 1);
	margin: 30px 30px 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form .qr-btn-1 {
	border: 1px solid #FEC200 !important;
	color: #000;
	background-color: #fff;
	border-radius: 15px;
	font-weight: bold;
	width: 160px;
	display: block;
	margin-top: 20px;
	text-align: left;
	padding: 0px 0px 0px 20px;
}

.qr-main-2 .qr-btn-2 {
	border: 1px solid #FEC200 !important;
	color: #fff;
	background-color: #FEC200;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	/* font-weight: bold */
	width: 160px;
	height: 45px;
	text-align: center;
	text-decoration: none;
}

.qr-main-3 {
	width: 350px !important;
	height: 120px !important;
	border: 3px solid #FEC200;
	border-left: 8PX solid #FEC200;
	background-color: #fff !important;
	border-bottom: 8PX solid #FEC200;
	text-align: center;
}

.qr-main-3 .qr-links {
	margin-right: 30px
}

.more-features {
	font-family: 'satoshimedium';
	font-weight: 600;
	border-right: 1px solid #707070; 
	padding-left: 61px; 
	border-bottom: 1px solid #707070
}

.qr-footer {
	border-top: 3px solid #FEC200;
	padding: 0px 20px 0px 20px;
}

.qr-footer ul li a, .qr-footer a {
	text-decoration: none;
	color: black;
}

.call{
	width: 158px
}
.mobile-view{
	display: none;
}
/* Spinner */
#spinner {
	display: none;
	text-align: center;
  }

@media (max-width: 600px) {
	.qr-main-1{
		display: flex !important;
		margin-bottom: 30px;
		width: 330px;
		height: 330px ;
		border: 1px solid #000;
		border-radius: 12px;
		margin-left: -80px;
		justify-content: center;
		align-items: center;
	}
	.qr-main-11 {
		width: 300px;
		height: 200px;
		border: 3px solid #FEC200;
		/* margin: 10px 10px 0px 13px; */
		border-left: 5px solid #FEC200;
		background-color: #fff;
		border-bottom: 8px solid #FEC200;
		padding: 0px 0px 10px 0px;
		margin-top: 20px;
		/* margin-left: -2px; */
	}
	#qr-main-10{
		width: 250px !important;
	}
	.call{
		margin-left: 0px !important;
		width: 79.3px;
	}
	.qr-main-11 .qr-main-12 .qr-link {
		border-bottom: 1px solid #000;
		font-size: 8px;
		color: #707070;
		font-family: 'satoshimedium';
		font-weight: 300;
		cursor: not-allowed;
	}
	
	.qr-active-1 {
		color: #000 !important;
		border-bottom: 1px solid #000;
		font-family: 'satoshimedium';
		font-weight: 300;
		font-size: 8px;
		cursor: pointer !important;
	}
	
	.qr-active-1 a {
		text-decoration: none;
		color: #000;
		
	}
	.mobile-view .qr-active-2{
		border-bottom: 4px solid #000;
	}
	.qr-active-2 {
		border-bottom: 1px solid #FEC200;
		color: #000 !important;
		font-size: 8px;
		font-family: 'satoshimedium';
		font-weight: 300;
		cursor: pointer !important;
	}
	
	
	
	 .qr-input {
		margin-top: -250px;
		margin-left: -30px;
	} 
	
	.qr-input .content {
		border: 1px solid black !important;
		width: 240px;
		height: 30px;
		border-radius: 10px;
		font-size: 8px;
	}
	
	.qr-input .qr-url {
		border: 1px solid black !important;
		width: 250px;
		height: 30px;
		border-radius: 10px;
		font-size: 8px;
	}
	.more-features {
		font-family: 'satoshimedium';
		font-weight: 300;
		font-size: 8px;
		border-right: 1px solid #707070; 
		padding-left: 21px; 
		border-bottom: 1px solid #707070
	}
	.qr-main-2 {
		width: 100% !important;
		height: 440px !important;
		border: 3px solid #FEC200;
		margin-bottom: 20px;
		border-left: 8PX solid #FEC200;
		background-color: #fff !important;
		border-bottom: 8PX solid #FEC200;
		margin-left: -20px;
	}
	.ml{
		margin-left: -50px;
	}
	
	.qr-main-21 {
		width: 270px !important;
		height: 270px !important;
		background-color: rgba(246, 246, 246, 1);
		margin: 30px 30px 20px 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#form .qr-btn-1 {
		border: 1px solid #FEC200 !important;
		color: #000;
		background-color: #fff;
		border-radius: 15px;
		font-weight: bold;
		width: 160px;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.qr-main-2 .qr-btn-2 {
		border: 1px solid #FEC200 !important;
		color: #fff;
		background-color: #FEC200;
		border-radius: 15px;
		display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
		margin: auto;
		margin-top: 20px;
		width: 160px;
		
		text-align: center;
		text-decoration: none;
	}
	
	.qr-main-3 {
		width: 100% !important;
		height: 120px !important;
		border: 3px solid #FEC200;
		border-left: 8PX solid #FEC200;
		background-color: #fff !important;
		border-bottom: 8PX solid #FEC200;
		text-align: center;
		margin-left: -20px;
	}

	.img_logo img{
		width: 150px;
		margin-left: -20px;
	}
	.nav-pills{
		margin-left: 50px;
		width: 140px;
		text-align: center;
		margin-top: -40px;

	}
	
	.qr-main-3 .qr-links {
		margin-right: 30px
	}
	
	.mobile-view{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mobile-qr-main-1{
	width: 370px;
	justify-content: start;
	align-items: flex-start;
	padding-left: 5px;
	padding-right: 5px;
	height: 350px;
	
	
}
.mobile-qr-main-11{
	width: 360px;
	padding: 5px;
	margin: 0px;
	margin-top: 20px;
}
	.mobile-link{
		font-size: 16px;
		opacity: 0.2;
		border-bottom: 4px solid #000;
	}
	.mobile-link a{
		text-decoration: none;
		color: #000;
	}
	.active{
		border-bottom: 4px solid #FEC200 !important;
	}
	.desktop-view{
		display: none !important;
	}
	.more-features-mobile-view{
		border: 0px;
		font-size: 20px;
		text-align: center;
		width: 100% !important;
		padding: 0px !important;
	}
}